@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

canvas {
    background-image: radial-gradient(#464646 5%, transparent 0);
        background-size: 35px 35px;
}